[submodule "Mobile-Detect"]
	path = Mobile-Detect
	url = git@github.com:kahunacoder/Mobile-Detect.git
[submodule "Slim"]
	path = Slim
	url = git@github.com:kahunacoder/Slim.git
[submodule "zf2"]
	path = zf2
	url = git@github.com:kahunacoder/zf2.git
[submodule "zf1"]
	path = zf1
	url = git@github.com:kahunacoder/zf1.git
[submodule "zf1-extras"]
	path = zf1-extras
	url = git@github.com:kahunacoder/zf1-extras.git
[submodule "NuSOAP"]
	path = NuSOAP
	url = git@github.com:kahunacoder/NuSOAP.git
[submodule "WordPress"]
	path = WordPress
	url = git@github.com:kahunacoder/WordPress.git
[submodule "adodb"]
	path = adodb
	url = git@github.com:kahunacoder/adodb.git
[submodule "firephp"]
	path = firephp
	url = git@github.com:kahunacoder/firephp.git
[submodule "PHPMailer"]
	path = PHPMailer
	url = git@github.com:kahunacoder/PHPMailer.git
[submodule "drupal"]
	path = drupal
	url = git@github.com:kahunacoder/drupal.git
