[submodule "Mobile-Detect"]
	path = Mobile-Detect
	url = git@github.com:kahunacoder/Mobile-Detect.git
[submodule "Slim"]
	path = Slim
	url = git@github.com:kahunacoder/Slim.git
[submodule "zf2"]
	path = zf2
	url = git@github.com:kahunacoder/zf2.git
